<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/datosusuario">Ver datos</button>
        <button mat-menu-item routerLink="/editarusuario">Modificar datos</button>
        <button mat-menu-item routerLink="/eliminarusuario">Eliminar cuenta</button>
      </mat-menu>
    <span routerLink="/" class="cursor-pointer">E-Sueldos</span>
</mat-toolbar>