<div class="p-2">
    <div *ngIf="!cargando">
        <div *ngIf="!errorAlEliminar">
            <h1>¿Estas seguro que deseas eliminar tu usuario?</h1>
            <div mat-dialog-content>
                <p>Nombre: {{data.name}}</p>
                <p>Email: {{data.email}}</p>
            </div>
            <div mat-dialog-actions>
                <button mat-button (click)="siEliminar()" color="warn">Eliminar</button>
                <button mat-button (click)="noEliminar()" color="primary">Cancelar</button>
            </div>
        </div>
        <div *ngIf="errorAlEliminar">
            <h1>Hubo un error al eliminar por favor intentelo mas tarde.</h1>
            <button mat-button (click)="noEliminar()" color="primary">Entendido</button>
        </div>
    </div>
    <div *ngIf="cargando" class="flex justify-center content-center">
        <mat-spinner></mat-spinner>
    </div>
</div>